html {
  font-size: 62.5%; }

body {
  background: #f9f8f6; }

header #header_in {
  padding-top: 20px;
  padding-bottom: 10px; }
header .pc_menu_li {
  margin-top: 20px;
  padding: 0;
  display: flex;
  float: right; }
  header .pc_menu_li li {
    list-style: none; }
    header .pc_menu_li li a {
      text-decoration: none;
      font-weight: bold;
      font-size: 14px;
      font-size: 1.4rem;
      padding-right: 10px; }

@media (min-width: 550px) {
  .sp_menu {
    display: none; } }
@media (max-width: 550px) {
  .logo {
    text-align: center; }

  .pc_menu li {
    display: none; } }
.sp_menu {
  text-align: center; }
  .sp_menu li {
    list-style: none;
    margin: 0;
    padding: 0; }
    .sp_menu li a {
      display: block;
      border-bottom: 1px solid #eee;
      text-decoration: none; }

.sp_menu_btn_li {
  position: absolute;
  z-index: 2;
  display: none;
  background-color: #ff6d77;
  width: 100%;
  text-align: left;
  left: 0; }
  .sp_menu_btn_li a {
    padding: 20px 0 20px 10px;
    font-size: 1.5rem; }

/* Owl carousel */
.owl-theme .owl-dots {
  text-align: left; }

.owl-theme .owl-dots .owl-dot span {
  width: 30px;
  height: 5px;
  background: #aaaaaa;
  border-radius: 0px; }

.owl-theme .owl-dots .owl-dot.active span {
  background-color: #9d1a2d; }

#new_items {
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center; }

@media (min-width: 550px) {
  .new_items_title_sp {
    display: none; } }
@media (max-width: 550px) {
  .new_items_title {
    display: none; } }
#new_area,
#popular_area,
#recent_area {
  display: flex;
  flex-wrap: wrap; }
  #new_area .item-list,
  #popular_area .item-list,
  #recent_area .item-list {
    background-color: white;
    width: 30%;
    margin: 1px;
    padding: 10px;
    text-align: center; }
  #new_area p,
  #popular_area p,
  #recent_area p {
    font-size: 12px;
    font-size: 1.2rem;
    margin-top: 3px;
    margin-bottom: 6px;
    text-align: left; }

#popular_items {
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center; }

@media (min-width: 550px) {
  .popular_items_title_sp {
    display: none; } }
@media (max-width: 550px) {
  .popular_items_title {
    display: none; }

  #new_area .item-list,
  #popular_area .item-list,
  #recent_area .item-list {
    width: 49%;
    box-sizing: border-box; }

  #new_items,
  #popular_items {
    padding-top: 0px;
    padding-bottom: 5px; } }
#shopping-guide {
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center; }

@media (min-width: 550px) {
  .guide_title_sp {
    display: none; } }
@media (max-width: 550px) {
  .guide_title {
    display: none; } }
#guide-area {
  display: -webkit-flex;
  display: flex;
  float: left;
  width: 100%; }
  #guide-area .guide {
    background-color: white;
    -webkit-flex: 1;
    flex: 1;
    margin: 0px 5px 70px 0;
    padding: 20px;
    background-color: white; }
    #guide-area .guide h2 {
      font-size: 1.6rem;
      font-weight: bolder;
      margin-bottom: 20px;
      color: #887f69; }
    #guide-area .guide h3 {
      color: #887f69;
      font-size: 1.2rem;
      margin-bottom: 10px;
      margin-top: 10px; }
    #guide-area .guide p {
      color: black;
      font-size: 1.2rem;
      margin-bottom: 5px; }

@media (max-width: 550px) {
  #guide-area {
    display: block; }
    #guide-area .guide {
      margin: 5px 0px; } }
#item-search {
  background-color: white;
  padding: 10px; }
  #item-search .search-input {
    background-image: url(../images/top/search_icon.png);
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-color: #eeeeee;
    font-size: 1.1rem;
    margin: 5px;
    width: 95%; }

@media (max-width: 550px) {
  .search-text {
    display: none; }

  #item-search .search-input {
    width: 90%;
    margin: 10px; } }
.page-link {
  margin-right: auto;
  padding: 10px;
  margin: 10px 0px;
  background-color: #887f69;
  background-image: url(../images/top/next_icon.png);
  background-repeat: no-repeat;
  background-position: right 10px center; }

.categories-box {
  margin-right: auto;
  padding: 10px;
  margin: 10px 0px;
  background-color: #887f69;
  cursor: pointer;
  background-image: url(../images/top/next_icon.png);
  background-repeat: no-repeat;
  background-position: right 10px center; }

.menu_toggle {
  display: none;
  list-style: none;
  background-color: white; }
  .menu_toggle li {
    border-bottom: 1px solid #f9f8f6;
    padding: 10px;
    margin: 0;
    background-image: url(../images/top/next_icon_gray.png);
    background-repeat: no-repeat;
    background-position: right 10px center; }
    .menu_toggle li a {
      color: black;
      font-size: 1.2rem;
      text-decoration: none; }

.about-container,
.shopinfo-container {
  background-color: white; }
  .about-container .about-bar,
  .about-container .shopinfo-bar,
  .shopinfo-container .about-bar,
  .shopinfo-container .shopinfo-bar {
    margin-right: auto;
    padding: 10px;
    background-color: #887f69; }
  .about-container p,
  .shopinfo-container p {
    font-size: 1.2rem;
    margin-bottom: 10px;
    padding: 0 10px; }
  .about-container .about-img,
  .about-container .shopinfo-img,
  .shopinfo-container .about-img,
  .shopinfo-container .shopinfo-img {
    text-align: center;
    margin: 10px; }
  .about-container .more,
  .shopinfo-container .more {
    text-align: center;
    margin-bottom: 10px; }

@media (max-width: 550px) {
  .about-container .about,
  .about-container .shopinfo,
  .shopinfo-container .about,
  .shopinfo-container .shopinfo {
    display: flex; }
  .about-container .about-img,
  .about-container .shopinfo-img,
  .shopinfo-container .about-img,
  .shopinfo-container .shopinfo-img {
    text-align: left; }
  .about-container p,
  .shopinfo-container p {
    margin-top: 10px; }
  .about-container .more,
  .shopinfo-container .more {
    text-align: left; } }
@media (min-width: 550px) {
  .page-top {
    float: right; } }
@media (max-width: 550px) {
  .page-top {
    text-align: center;
    margin-top: 20px; } }
.footer {
  text-align: center;
  margin-bottom: 100px; }
  .footer .foot_navi {
    display: flex;
    justify-content: center;
    margin: 0; }
    .footer .foot_navi li {
      list-style: none; }
      .footer .foot_navi li a {
        text-decoration: none;
        font-weight: bold;
        font-size: 12px;
        font-size: 1.2rem;
        padding: 10px;
        color: black; }

.home {
  padding: 10px;
  margin-bottom: 10px;
  color: #887f69;
  background-color: #e8e4da;
  font-size: 1.2rem;
  border-radius: 3px; }

.btnleft,
.btnright {
  float: left;
  padding: 5px 30px;
  margin: 20px 0px;
  background-color: #887f69; }

a {
  color: white;
  text-decoration: none;
  font-size: 1.4rem; }

.btnright {
  float: right; }

@media (max-width: 550px) {
  .btnleft,
  .btnright {
    padding: 10px 50px; } }
#recent {
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center; }

@media (min-width: 550px) {
  .recent_sp {
    display: none; } }
@media (max-width: 550px) {
  .recent_pc {
    display: none; } }
#recent_area p {
  font-size: 13px;
  font-size: 1.3rem;
  margin-top: 3px; }

#products {
  background-color: white;
  padding: 20px 50px; }
  #products hr {
    margin-top: 0;
    margin-bottom: 10px; }

.products_name h3 {
  text-align: left;
  font-size: 1.4rem;
  font-weight: bolder;
  margin-top: 30px; }
.products_name p {
  text-align: right;
  margin-top: -40px;
  color: #a6a6a6;
  font-size: 10px; }

.products_jpg_area {
  display: flex; }

#products_jpg {
  width: 70%; }

#products_jpg_list {
  text-align: right;
  width: 29%; }
  #products_jpg_list li {
    list-style: none;
    display: inline-block;
    width: 45%;
    margin-bottom: 0; }
  #products_jpg_list li img {
    width: 100%;
    cursor: pointer; }

.table1 table {
  width: 100%; }
.table1 td,
.table1 th {
  border: solid 1px;
  text-align: center;
  color: #887f69;
  border-color: #e3e8cf;
  width: 33%; }
.table1 th {
  background-color: #f9f9f5; }

.price_cart {
  display: flex; }

.price-table {
  width: 60%;
  margin-right: 30px; }
  .price-table th,
  .price-table td {
    border: none;
    border-top: solid 1px;
    border-color: #e3e8cf; }
  .price-table th {
    background: none;
    min-width: 50px; }
  .price-table span {
    color: #e80f66;
    font-size: 2.2rem; }
  .price-table p {
    font-size: 1.4rem; }

@media (max-width: 550px) {
  #products {
    padding: 10px 20px; }

  .products_name p {
    text-align: left;
    padding-top: 30px; }

  .products_jpg_area {
    display: inline-block;
    flex-direction: row; }

  #products_jpg {
    width: 100%; }

  #products_jpg_list {
    width: 100%;
    text-align: left; }
    #products_jpg_list li {
      width: 18%; }

  .price_cart {
    flex-direction: column; }

  .price-table {
    width: 100%; }

  .cart {
    text-align: center; } }
#explain {
  border-top: 1px solid #e2ddd4;
  padding-top: 30px; }
  @media (max-width: 550px) {
    #explain {
      border: none; } }
  #explain h4,
  #explain h5 {
    font-size: 1.6rem;
    color: #887f69; }
  #explain hr {
    margin-top: 0;
    margin-bottom: 20px;
    border-color: black; }
  #explain p {
    font-size: 1.4rem; }

.table2 table {
  width: 100%; }

.copy {
  font-size: 10px;
  color: #b8b4ac; }

/*# sourceMappingURL=kadai.css.map */
