html {
  font-size: 62.5%; }

body {
  background: #f9f8f6; }

header #header_in {
  padding-top: 20px;
  padding-bottom: 10px; }
header .pc_menu_li {
  margin-top: 20px;
  padding: 0;
  display: flex;
  float: right; }
  header .pc_menu_li li {
    list-style: none; }
    header .pc_menu_li li a {
      text-decoration: none;
      font-weight: bold;
      font-size: 14px;
      font-size: 1.4rem;
      padding-right: 10px; }

@media (min-width: 550px) {
  .sp_menu {
    display: none; } }
@media (max-width: 550px) {
  .logo {
    text-align: center; }

  .pc_menu li {
    display: none; } }
.sp_menu {
  top: 80px;
  left: 40%;
  position: absolute; }
  .sp_menu li {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0; }
    .sp_menu li a {
      display: block;
      padding: 10px 8px;
      border-bottom: 1px solid #eee;
      font-size: 14px;
      text-decoration: none; }

#new_items {
  padding-top: 30px;
  padding-bottom: 20px; }

#new_area {
  display: flex;
  flex-wrap: wrap; }
  #new_area .item-list {
    background-color: white;
    width: 33%; }
  #new_area p {
    font-size: 13px;
    font-size: 1.3rem;
    margin-top: 3px; }

#popular_items {
  padding-top: 30px;
  padding-bottom: 20px; }

#popular_area {
  display: flex;
  flex-wrap: wrap; }
  #popular_area .item-list {
    background-color: white;
    width: 33%; }
  #popular_area p {
    font-size: 13px;
    font-size: 1.3rem;
    margin-top: 3px; }

#shopping-guide {
  padding-top: 30px;
  padding-bottom: 20px; }

#guide-area {
  display: -webkit-flex;
  display: flex;
  float: left;
  width: 100%; }
  #guide-area .guide {
    background-color: white;
    -webkit-flex: 1;
    flex: 1;
    margin: 0px 5px 70px 0;
    padding: 20px;
    background-color: white; }
  #guide-area h2 {
    font-size: 16px;
    margin-bottom: 20px; }

#item-search {
  background-color: white;
  padding: 10px; }
  #item-search .search-box {
    margin-right: auto;
    padding: 5px;
    width: 80%;
    border: 1px solid; }

.page-link {
  margin-right: auto;
  padding: 5px;
  border: 1px solid;
  margin: 10px 0px;
  background-color: #887f69; }

.categories-box {
  margin-right: auto;
  padding: 5px;
  border: 1px solid;
  margin: 10px 0px;
  background-color: #887f69;
  cursor: pointer; }

.menu_toggle {
  display: none;
  list-style: none;
  background-color: white; }
  .menu_toggle li {
    border-style: solid; }

.about-container, .shopinfo-container {
  background-color: white; }
  .about-container .about, .about-container .shopinfo, .shopinfo-container .about, .shopinfo-container .shopinfo {
    margin-right: auto;
    padding: 5px;
    border: 1px solid;
    background-color: #887f69; }
  .about-container .about-img, .about-container .shopinfo-img, .shopinfo-container .about-img, .shopinfo-container .shopinfo-img {
    text-align: center;
    margin: 10px; }
  .about-container .more, .shopinfo-container .more {
    text-align: center; }

.page-top {
  float: right;
  margin-top: 1350px; }

.footer {
  margin: 50px;
  text-align: center; }
  .footer .foot_navi {
    display: flex;
    justify-content: center; }
    .footer .foot_navi li {
      list-style: none; }
      .footer .foot_navi li a {
        text-decoration: none;
        font-weight: bold;
        font-size: 14px;
        font-size: 1.4rem;
        padding-right: 20px; }

.home {
  padding: 5px;
  margin-bottom: 10px;
  color: brown;
  background-color: #f1ede5; }

.btnleft, .btnright {
  float: left;
  padding: 5px 20px;
  margin: 20px 0px;
  color: white;
  background-color: #887f69; }

.btnright {
  float: right; }

#recent {
  padding-top: 30px;
  padding-bottom: 20px; }

#recent_area {
  display: flex;
  flex-wrap: wrap; }
  #recent_area .item-list {
    background-color: white;
    width: 33%; }
  #recent_area p {
    font-size: 13px;
    font-size: 1.3rem;
    margin-top: 3px; }

/*# sourceMappingURL=kadi.css.map */
